<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>AI Планировщик задач</title>
<link rel="stylesheet" href="/static/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<div class="main-container">

    <!-- Левая панель -->
    <aside class="sidebar-left">
        <br>
        <h3>Фильтры задач</h3>
        <button onclick="filterTasks('all')">Все</button>
        <button onclick="filterTasks('active')">В процессе</button>
        <button onclick="filterTasks('completed')">Выполнено</button>
        <br><br><br><br>
        <h3>Статистика</h3>
        <div id="totalTasks">Всего задач: 0</div>
        <div id="completedTasks">Выполнено: 0</div>
        <div id="percentCompleted">Прогресс: 0%</div>
        <div class="progress-bar">
            <div id="progress" class="progress-fill"></div>
        </div>
    </aside>

    <!-- Основная секция -->
    <section class="content">
	<a href="/logout">🚪 Шығу</a>
        <h1>AI Планировщик задач</h1>

        <div class="add-task">
            <input id="taskInput" placeholder="Введите задачу">
            <input id="deadlineInput" type="date">
            <select id="priorityInput">
                <option value="Низкий">Низкий</option>
                <option value="Средний">Средний</option>
                <option value="Высокий">Высокий</option>
            </select>
            <button onclick="addTask()">Добавить</button>
        </div>

        <ul id="taskList"></ul>

        <button class="ai-button" onclick="askAI()">Получить AI совет</button>
        <div id="aiResult" class="ai-result"></div>
    </section>

    <!-- Правая панель -->
   <aside class="sidebar-right">
    <div class="motivation">
        <h3>💡 Совет дня</h3>
        <p id="tipText">
            Разделите большую задачу на несколько маленьких — так её легче выполнить.
        </p>
        <button onclick="newTip()">🔄 Новый совет</button>
    </div>
    </aside>

</div>
<script src="/static/script.js"></script>
</body>
</html>