<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="main-container" style="justify-content:center;">

<div class="motivation" style="width:350px;">

<h2 style="text-align:center;">🔐 Кіру</h2>

<form method="POST">
<input name="username" placeholder="Логин">
<input name="password" type="password" placeholder="Пароль">

<button type="submit">Кіру</button>
</form>

<br>
<a href="/register">Тіркелу</a>

</div>
</div>

</body>
</html>